.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn{
  opacity:1;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.transparent{opacity: 0;}